* {
    font-family: 'Merriweather', serif;
}
/*change body color*/
body {
    background: #77e0e0
}
/*style for header titles*/
header h2.sub-title,
header p{
   text-align: center;
   width: 90%;
   margin: auto;
   padding: 10px;
   color: #4e5251;
}

header h2.sub-title,
form legend {
    color: #0b4a75;
}

form legend {
    font-weight: bold;
}

/*control fieldset width*/
form fieldset {
    border: none;
    width: 90%;
    margin: auto;
}

form fieldset.contact legend {
   margin-bottom: 1em;
}



/*inspired by stackover at: https://stackoverflow.com/questions/9686538/align-labels-in-form-next-to-input*/
form fieldset.contact label {
    display: inline-block;
    text-align: left;
    width: 90%;
}

/*style for header title*/
header .header-title{
    background-color: #052e4a;
    text-align: center;
    margin-top: 0;
    color: white;
    padding: 20px;
}

/*credit to https://www.w3schools.com/css/css_form.asp*/
input[type=text],
input[type=tel],
input[type=email], 
select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #e8e1e1;
    border: none;
    color: #4e5251; 
    border-radius: 5px;
}

#zipcode {
    width: 40%;
}

/*following transition effect and background changed added for exceeding grade*/
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus, 
.newsletter textarea:focus{
    border: 3px solid #1a7887;
    transition:  1s;
    background-color: #00f3ff;
}

select {
    -webkit-appearance: menulist;
}

input::placeholder{
    text-align: right;
}

/*Start Newsletter part*/

.newsletter label {
    padding-left: 1em;
}

.newsletter label[for=feedback] {
    padding:0;
}

.newsletter input {
    margin: 1em 0 1em 0;
}
/*set textarea styles*/
.newsletter textarea {
    width: 100%;
    padding: 80px 20px;
    box-sizing: border-box;
    background-color: #e8e1e1;
    border: none;
    border-radius: 5px;
    margin: 1em 0 1em 0;
}

.newsletter p {
    margin-bottom: -0.5em; 
}

label, p {
    color: #4e5251;
}

form .submit {
    width: 90%;
    margin: auto;
}

/*set submit button styles*/
input[type=submit]{
    width:100%;
    padding: 12px 20px;
    background-color: #0b4a75;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    margin: 8px 0;
    color: white
}

hr {
    width: 90%;
    margin: auto;
}

/*hr styles inspired from https://www.w3schools.com/howto/howto_css_style_hr.asp*/
.line-header-primary {
    border-top: 5px solid #052e4a;
    margin-top: 10px;
    margin-bottom: 2px;
}

.line-header-secondary {
    border-top: 2px solid #052e4a;
    margin-bottom: 10px;
}

.line-form {
    border-top: 2px solid #052e4a;
    margin-bottom: 10px;
}

/*add the background for footer for exceeding grades*/
footer {
    background-color: #052e4a;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

footer p {
    color: #e8e1e1;
}
/*desktop media query*/
@media (min-width: 768px) {
    /*set the whole main section width*/
    form,
    header .sub-title,
    header p, 
    header hr
    {
        width: 75%;
        margin: auto;
    }

    form {
        max-width: 1024px; /*control form size if the screen gets too big*/
    }

    form .submit {
        width: 100%;
    }
  
    form fieldset,
    form hr {
       padding: 0;
       margin: 0;
       width: 100%;
    }

    form hr {
        margin: 20px 0 0 0;
    }

    .newsletter legend {
        padding-top: 20px;
    }

    .contact legend{
        margin-bottom: 20px;
    }

    /*set the label and form input at same line*/
    .contact input,
    .contact select{
        width: 70%;
        display: inline-block;
    } 

    form fieldset.contact label  {
        float: left;
        width: 30%;
        margin-top:20px;
    }

    main {
        min-height: calc(100vh - 70px); /*make the footer always at the bottom*/
    }

}